{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Date création</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr class="table-active">
                <td>{{ user.prenom}}</td>
                <td>{{ user.nom}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.dateCreate | date('d/m/Y')}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table> 
{% endblock %}
